<ion-view view-title="{{title}}">
  <ion-content class="padding">
<!--     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="test in tests" type="item-text-wrap">
        <img ng-src="{{test.img1}}">
        <p> I had fun writing this note.</p>
        <p> Do your happiness act today! </p>
        <img ng-src="{{test.img1}}" height="100" width="100">
        <img ng-src="data:image/png;base64,{{test.img2}}" height="100" width="100">
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
