<ion-view view-title="Kindness Projects">
  <ion-content class="padding">
    <div class="list card">
    	<div class="item item-avatar item-button-right">
    		<img src="img/trulyhappy.png">
    		<h2>Kindness Project #1</h2>
    		<p>Feed a homeless person</p>
    		<button class="button button-clear button-balanced icon ion-plus" ng-click="ff(1)"></button>
    	</div>
    <div class="item item-image">
    	<img src="img/foodplaceholder.jpg" height="300">
    </div>
    <a class="item item-icon-left positive item-icon-right" href="#/tab/feed/Feed a homeless person">
    	<i class="icon ion-social-facebook"></i>
    	16 people are doing this
    	 <i class="icon ion-arrow-right-c"></i>
    </a>
	</div>

	<div class="list card">
    	<div class="item item-avatar balanced item-button-right">
    		<img src="img/trulyhappy.png">
    		<h2>Kindness Project #2</h2>
    		<p>Smile at a stranger</p>
    		<button class="button button-clear button-balanced icon ion-plus"></button>
    	</div>
    <div class="item item-image">
    	<img src="img/smileplaceholder.jpg" height="300">
    </div>
    <a class="item item-icon-left positive item-icon-right" href="#/tab/feed/Smile at a stranger">
    	<i class="icon ion-social-facebook"></i>
    	25 people are doing this
    	<i class="icon ion-arrow-right-c"></i>
    </a>
	</div>

</ion-content>
</ion-view>
